.post-content {
  max-width: 800px;
  @apply mx-auto p-5;
}

.post-content h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-albert text-gray-900;
}

.post-content h1 {
  @apply text-xl xl:text-2xl font-bold;
  margin-bottom: 1rem;
}

.post-content h2 {
  @apply text-lg xl:text-xl font-bold;
  margin-bottom: 1rem;
}

.post-content h3 {
  @apply text-base xl:text-lg font-semibold;
  margin-bottom: 1rem;
}

.post-content p {
  line-height: 1.6;
  @apply text-base lg:text-lg;
  margin-bottom: 1rem;
}

.post-content a {
  @apply text-gold hover:text-darkgold;
}

.post-content img {
  max-width: 100%;
  @apply my-8 rounded-xl shadow-2xl sm:w-3/4 mx-auto;
}

.post-content pre {
  background: #1a1a1a;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}
