.post-content {
  max-width: 800px;
  @apply mx-auto p-5;
}

.post-content h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-albert text-gray-900;
}

.post-content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.post-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-content p {
  line-height: 1.6;
  @apply text-base lg:text-lg;
  margin-bottom: 1rem;
}

.post-content a {
  @apply text-gold hover:text-darkgold;
}

.post-content img {
  max-width: 100%;
  @apply my-8 rounded-xl shadow-2xl;
}

.post-content pre {
  background: #1a1a1a;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}
